footer {
    margin-top: 30px;
    text-align: center;
}

.footer_description {
    padding: 16px 8px;
    font-weight: bold;
    text-align: center;
}

.footer_description a {
    transition: 0.27s;
    text-decoration: none;
    color: var(--borderNavColor);
}

.footer_description a:hover {
    color: var(--activeHoverBackground);
}